# Importação de bibliotecas

In [1]:
!pip install pandas --upgrade

import numpy as np
import pandas as pd
from IPython.display import display

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
scipy 1.6.2 requires numpy<1.23.0,>=1.16.5, but you have numpy 1.24.4 which is incompatible.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.2.4)
Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Collecting numpy>=1.20.3
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
Collecting python-dateutil>=2.8.2
  Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2021.1)
Collecting tzdata>=2022.1
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
Installing collected packages: tzdata, python-dateutil, numpy, pandas
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.20.1
    Uninstalling numpy-1.20.1:
      Successfully uninstalled numpy-1.20.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.2.4
    Uninstalling pandas-1.2.4:
      Successfully uninstalled pandas-1.2.4
Successfully installed numpy-1.24.4 pandas-2.0.3 python-dateutil-2.9.0.post0 tzdata-2025.2

## Importação do dataset (walmart-recruiting-store-sales-forecasting)

In [2]:
import pandas as pd

# Definir o caminho base para os datasets raw no GitHub
github_base_url = 'https://raw.githubusercontent.com/gustavolima007/demand-predictor-walmart-MLOps/main/data/walmart-recruiting-store-sales-forecasting/'

# Lista para armazenar os dataframes
dfs = {}

# Nomes dos arquivos CSV a serem importados
csv_files = [
    'features.csv',
    'sampleSubmission.csv',
    'stores.csv',
    'test.csv',
    'train.csv'
]

# Importar cada arquivo CSV do GitHub
for file_name in csv_files:
    file_url = github_base_url + file_name
    df_name = file_name.replace('.csv', '') # Nome do dataframe será o nome do arquivo sem a extensão
    try:
        dfs[df_name] = pd.read_csv(file_url)
        print(f"Arquivo {file_name} importado como dataframe '{df_name}' do GitHub.")
    except Exception as e:
        print(f"Erro ao importar o arquivo {file_name} do GitHub: {e}")

# Agora, acesse e exiba as 5 primeiras linhas de cada dataframe
print("\nExibindo as 5 primeiras linhas de cada dataframe:")

# Acesse o dataframe 'stores' e exiba as 5 primeiras linhas
df_stores = dfs.get('stores')
if df_stores is not None:
    print("\nExibindo dataframe 'df_stores':")
    display(df_stores.head())

# Acesse o dataframe 'train' e exiba as 5 primeiras linhas
df_train = dfs.get('train')
if df_train is not None:
    print("\nExibindo dataframe 'df_train':")
    display(df_train.head())

# Acesse o dataframe 'test' e exiba as 5 primeiras linhas
df_test = dfs.get('test')
if df_test is not None:
    print("\nExibindo dataframe 'df_test':")
    display(df_test.head())

# Acesse o dataframe 'sampleSubmission' e exiba as 5 primeiras linhas
df_sampleSubmission = dfs.get('sampleSubmission')
if df_sampleSubmission is not None:
    print("\nExibindo dataframe 'df_sampleSubmission':")
    display(df_sampleSubmission.head())

# Acesse o dataframe 'features' e exiba as 5 primeiras linhas
df_features = dfs.get('features')
if df_features is not None:
    print("\nExibindo dataframe 'df_features':")
    display(df_features.head())

Arquivo features.csv importado como dataframe 'features' do GitHub.
Arquivo sampleSubmission.csv importado como dataframe 'sampleSubmission' do GitHub.
Arquivo stores.csv importado como dataframe 'stores' do GitHub.
Arquivo test.csv importado como dataframe 'test' do GitHub.
Arquivo train.csv importado como dataframe 'train' do GitHub.

Exibindo as 5 primeiras linhas de cada dataframe:

Exibindo dataframe 'df_stores':

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

Exibindo dataframe 'df_train':

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

Exibindo dataframe 'df_test':

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

Exibindo dataframe 'df_sampleSubmission':

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

Exibindo dataframe 'df_features':

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

## Unificação dos Dados (Merge)

In [3]:
# Unificação dos Dados (Merge)

# Para o conjunto de treino
df_train_merged = pd.merge(df_train, df_stores, on='Store', how='left')
df_train_merged = pd.merge(df_train_merged, df_features, on=['Store', 'Date', 'IsHoliday'], how='left')

# Exibir as 5 primeiras linhas do dataframe merged
print("\nExibindo as 5 primeiras linhas do dataframe df_train_merged:")
display(df_train_merged.head())

Exibindo as 5 primeiras linhas do dataframe df_train_merged:

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106

In [4]:
# Para o conjunto de teste
df_test_merged = pd.merge(df_test, df_stores, on='Store', how='left')
df_test_merged = pd.merge(df_test_merged, df_features, on=['Store', 'Date', 'IsHoliday'], how='left')

print("\nExibindo as 5 primeiras linhas do dataframe df_test_merged:")
display(df_test_merged.head())

Exibindo as 5 primeiras linhas do dataframe df_test_merged:

,Store,Dept,Date,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2012-11-02,False,A,151315,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573
1,1,1,2012-11-09,False,A,151315,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573
2,1,1,2012-11-16,False,A,151315,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573
3,1,1,2012-11-23,True,A,151315,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573
4,1,1,2012-11-30,False,A,151315,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573

# Limpeza de Dados

Visualização dos dataframe

In [5]:
print("Informações sobre df_train_merged:")
df_train_merged.info()

print("\nInformações sobre df_test_merged:")
df_test_merged.info()

Informações sobre df_train_merged:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

Informações sobre df_test_merged:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         115064 non-null  int64
 1   Dept          115064 non-null  int64
 2   Date          115064 non-null  object
 3   IsHoliday     115064 non-null  bool
 4   Type          115064 non-null  object
 5   Size          115064 non-null  int64
 6   Temperature   115064 non-null  float64
 7   Fuel_Price    115064 non-null  float64
 8   MarkDown1     114915 non-null  float64
 9   MarkDown2     86437 non-null   float64
 10  MarkDown3     105235 non-null  float64
 11  MarkDown4     102176 non-null  float64
 12  MarkDown5     115064 non-null  float64
 13  CPI           76902 non-null   float64
 14  Unemployment  76902 non-null   float64
dtypes: bool(1), float64(9), int64(3), object(2)
memory usage: 12.4+ MB

In [6]:
# Converter 'Date' para datetime
df_train_merged['Date'] = pd.to_datetime(df_train_merged['Date'])
df_test_merged['Date'] = pd.to_datetime(df_test_merged['Date'])

df_train_merged.info()
df_test_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(10), int64(3), object(1)
memory usage: 48.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115064 entries, 0 to 115063
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         115064 non-null  int64
 1   Dept          115064 non-null  int64
 2   Date          115064 non-null  datetime64[ns]
 3   IsHoliday     115064 non-null  bool
 4   Type          115064 non-null  object
 5   Size          115064 non-null  int64
 6   Temperature   115064 non-null  float64
 7   Fuel_Price    115064 non-null  float64
 8   MarkDown1     114915 non-null  float64
 9   MarkDown2     86437 non-null   float64
 10  MarkDown3     105235 non-null  float64
 11  MarkDown4     102176 non-null  float64
 12  MarkDown5     115064 non-null  float64
 13  CPI           76902 non-null   float64
 14  Unemployment  76902 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(9), int64(3), object(1)
memory usage: 12.4+ MB

In [7]:
print("--- Estatísticas Descritivas: df_train_merged ---")
display(df_train_merged.describe(include='all'))

print("\n--- Estatísticas Descritivas: df_test_merged ---")
display(df_test_merged.describe(include='all'))

--- Estatísticas Descritivas: df_train_merged ---

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,421570.000000,421570.000000,421570,421570.000000,421570,421570,421570.000000,421570.000000,421570.000000,150681.000000,111248.000000,137091.000000,134967.000000,151432.000000,421570.000000,421570.000000
unique,NaN,NaN,NaN,NaN,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,False,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,391909,215478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,22.200546,44.260317,2011-06-18 08:30:31.963375104,15981.258123,NaN,NaN,136727.915739,60.090059,3.361027,7246.420196,3334.628621,1439.421384,3383.168256,4628.975079,171.201947,7.960289
min,1.000000,1.000000,2010-02-05 00:00:00,-4988.940000,NaN,NaN,34875.000000,-2.060000,2.472000,0.270000,-265.760000,-29.100000,0.220000,135.160000,126.064000,3.879000
25%,11.000000,18.000000,2010-10-08 00:00:00,2079.650000,NaN,NaN,93638.000000,46.680000,2.933000,2240.270000,41.600000,5.080000,504.220000,1878.440000,132.022667,6.891000
50%,22.000000,37.000000,2011-06-17 00:00:00,7612.030000,NaN,NaN,140167.000000,62.090000,3.452000,5347.450000,192.000000,24.600000,1481.310000,3359.450000,182.318780,7.866000
75%,33.000000,74.000000,2012-02-24 00:00:00,20205.852500,NaN,NaN,202505.000000,74.280000,3.738000,9210.900000,1926.940000,103.990000,3595.040000,5563.800000,212.416993,8.572000
max,45.000000,99.000000,2012-10-26 00:00:00,693099.360000,NaN,NaN,219622.000000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000
std,12.785297,30.492054,NaN,22711.183519,NaN,NaN,60980.583328,18.447931,0.458515,8291.221345,9475.357325,9623.078290,6292.384031,5962.887455,39.159276,1.863296

--- Estatísticas Descritivas: df_test_merged ---

,Store,Dept,Date,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,115064.000000,115064.000000,115064,115064,115064,115064.000000,115064.000000,115064.000000,114915.000000,86437.000000,105235.000000,102176.000000,115064.000000,76902.000000,76902.000000
unique,NaN,NaN,NaN,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,False,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,106136,58713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,22.238207,44.339524,2013-03-14 14:39:41.311270144,NaN,NaN,136497.688921,53.941804,3.581546,7689.216439,3734.051729,2403.088666,3356.219071,3922.681189,176.961347,6.868733
min,1.000000,1.000000,2012-11-02 00:00:00,NaN,NaN,34875.000000,-7.290000,2.872000,-2781.450000,-35.740000,-179.260000,0.220000,-185.170000,131.236226,3.684000
25%,11.000000,18.000000,2013-01-04 00:00:00,NaN,NaN,93638.000000,39.820000,3.431000,1966.460000,180.350000,15.100000,155.460000,1309.300000,138.402033,5.771000
50%,22.000000,37.000000,2013-03-15 00:00:00,NaN,NaN,140167.000000,54.470000,3.606000,4842.290000,742.590000,78.260000,840.940000,2390.430000,192.304445,6.806000
75%,33.000000,74.000000,2013-05-24 00:00:00,NaN,NaN,202505.000000,67.350000,3.766000,9439.140000,2735.670000,272.580000,3096.920000,4227.270000,223.244532,8.036000
max,45.000000,99.000000,2013-07-26 00:00:00,NaN,NaN,219622.000000,101.950000,4.125000,103184.980000,71074.170000,149483.310000,65344.640000,771448.100000,228.976456,10.199000
std,12.809930,30.656410,NaN,NaN,NaN,61106.926438,18.724153,0.239442,10698.760716,8323.495014,13767.939313,7570.501545,19445.150745,41.239967,1.583427

## Tratamento de Weekly_Sales Negativas e Colunas MarkDown

In [8]:
num_vendas_negativas = (df_train_merged['Weekly_Sales'] < 0).sum()
print(f"Número de Weekly_Sales negativas: {num_vendas_negativas}")
if num_vendas_negativas > 0:
    print("Substituindo Weekly_Sales negativas por 0...")
    df_train_merged.loc[df_train_merged['Weekly_Sales'] < 0, 'Weekly_Sales'] = 0
    print(f"Verificação - Novo mínimo de Weekly_Sales: {df_train_merged['Weekly_Sales'].min()}")
else:
    print("Nenhuma Weekly_Sales negativa encontrada.")

Número de Weekly_Sales negativas: 1285
Substituindo Weekly_Sales negativas por 0...
Verificação - Novo mínimo de Weekly_Sales: 0.0

In [9]:
# 1. Tratamento de Weekly_Sales negativas em df_train_merged
print("--- Tratando Weekly_Sales negativas em df_train_merged ---")
num_vendas_negativas = (df_train_merged['Weekly_Sales'] < 0).sum()
if num_vendas_negativas > 0:
    print(f"Encontradas {num_vendas_negativas} Weekly_Sales negativas. Substituindo por 0...")
    df_train_merged.loc[df_train_merged['Weekly_Sales'] < 0, 'Weekly_Sales'] = 0
    print(f"Verificação - Novo mínimo de Weekly_Sales: {df_train_merged['Weekly_Sales'].min()}")
else:
    print("Nenhuma Weekly_Sales negativa encontrada em df_train_merged.")

# 2. Tratamento de MarkDowns negativos

markdown_cols_to_check = ['MarkDown2', 'MarkDown3']

# Tratamento para df_train_merged
print("\n--- Tratando MarkDowns negativos em df_train_merged ---")
for col in markdown_cols_to_check:
    if col in df_train_merged.columns:
        num_neg_markdown_train = (df_train_merged[col] < 0).sum()
        if num_neg_markdown_train > 0:
            print(f"Encontrados {num_neg_markdown_train} valores negativos em {col}. Substituindo por 0...")
            df_train_merged.loc[df_train_merged[col] < 0, col] = 0
            print(f"Verificação - Novo mínimo de {col}: {df_train_merged[col].min()}")
        else:
            print(f"Nenhum valor negativo encontrado em {col} no df_train_merged.")
    else:
        print(f"Coluna {col} não encontrada em df_train_merged.")

# Tratamento para df_test_merged
print("\n--- Tratando MarkDowns negativos em df_test_merged ---")
for col in markdown_cols_to_check:
    if col in df_test_merged.columns:
        num_neg_markdown_test = (df_test_merged[col] < 0).sum()
        if num_neg_markdown_test > 0:
            print(f"Encontrados {num_neg_markdown_test} valores negativos em {col}. Substituindo por 0...")
            df_test_merged.loc[df_test_merged[col] < 0, col] = 0
            print(f"Verificação - Novo mínimo de {col}: {df_test_merged[col].min()}")
        else:
            print(f"Nenhum valor negativo encontrado em {col} no df_test_merged.")
    else:
        print(f"Coluna {col} não encontrada em df_test_merged.")

print("\nTratamento de valores negativos concluído!")

--- Tratando Weekly_Sales negativas em df_train_merged ---
Nenhuma Weekly_Sales negativa encontrada em df_train_merged.

--- Tratando MarkDowns negativos em df_train_merged ---
Encontrados 1311 valores negativos em MarkDown2. Substituindo por 0...
Verificação - Novo mínimo de MarkDown2: 0.0
Encontrados 257 valores negativos em MarkDown3. Substituindo por 0...
Verificação - Novo mínimo de MarkDown3: 0.0

--- Tratando MarkDowns negativos em df_test_merged ---
Encontrados 412 valores negativos em MarkDown2. Substituindo por 0...
Verificação - Novo mínimo de MarkDown2: 0.0
Encontrados 589 valores negativos em MarkDown3. Substituindo por 0...
Verificação - Novo mínimo de MarkDown3: 0.0

Tratamento de valores negativos concluído!

In [10]:
 # Validando valores negaticos:

for i in range(1, 6):
    col_name = f'MarkDown{i}'
    print(f"\nAnálise de {col_name} em df_train_merged:")
    print(f"Número de valores negativos: {(df_train_merged[col_name] < 0).sum()}")
    print(df_train_merged[df_train_merged[col_name] < 0][col_name].describe())

Análise de MarkDown1 em df_train_merged:
Número de valores negativos: 0
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MarkDown1, dtype: float64

Análise de MarkDown2 em df_train_merged:
Número de valores negativos: 0
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MarkDown2, dtype: float64

Análise de MarkDown3 em df_train_merged:
Número de valores negativos: 0
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MarkDown3, dtype: float64

Análise de MarkDown4 em df_train_merged:
Número de valores negativos: 0
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MarkDown4, dtype: float64

Análise de MarkDown5 em df_train_merged:
Número de valores negativos: 0
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MarkDown5, dtype: float64

## Verificação de Duplicatas

In [11]:
# Para df_train_merged
num_duplicatas_treino = df_train_merged.duplicated().sum()
print(f"\nNúmero de linhas duplicadas em df_train_merged: {num_duplicatas_treino}")
if num_duplicatas_treino > 0:
    print(f"Removendo {num_duplicatas_treino} linhas duplicadas de df_train_merged...")
    df_train_merged.drop_duplicates(inplace=True)
    df_train_merged.reset_index(drop=True, inplace=True) # Opcional: resetar o índice
    print(f"Novo shape de df_train_merged: {df_train_merged.shape}")

# Para df_test_merged
num_duplicatas_teste = df_test_merged.duplicated().sum()
print(f"\nNúmero de linhas duplicadas em df_test_merged: {num_duplicatas_teste}")
if num_duplicatas_teste > 0:
    print(f"Removendo {num_duplicatas_teste} linhas duplicadas de df_test_merged...")
    df_test_merged.drop_duplicates(inplace=True)
    df_test_merged.reset_index(drop=True, inplace=True) # Opcional: resetar o índice
    print(f"Novo shape de df_test_merged: {df_test_merged.shape}")

Número de linhas duplicadas em df_train_merged: 0

Número de linhas duplicadas em df_test_merged: 0

## Tratamento de Valores Ausentes (NaNs)

Verificando NaNs

In [12]:
print("--- Verificando NaNs em df_train_merged ANTES do tratamento ---")
print(df_train_merged.isnull().sum())

print("\n--- Verificando NaNs em df_test_merged ANTES do tratamento ---")
print(df_test_merged.isnull().sum())

--- Verificando NaNs em df_train_merged ANTES do tratamento ---
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
dtype: int64

--- Verificando NaNs em df_test_merged ANTES do tratamento ---
Store               0
Dept                0
Date                0
IsHoliday           0
Type                0
Size                0
Temperature         0
Fuel_Price          0
MarkDown1         149
MarkDown2       28627
MarkDown3        9829
MarkDown4       12888
MarkDown5           0
CPI             38162
Unemployment    38162
dtype: int64

Tratamento de NaNs nas colunas MarkDown1 a MarkDown5

In [13]:
# 1. Tratamento de NaNs nas colunas MarkDown1 a MarkDown5
# Estratégia: Preencher NaNs com 0, pois indicam ausência de promoção.
markdown_cols = ['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']

print("\n--- Tratando NaNs nas colunas MarkDown (preenchendo com 0) ---")
for col in markdown_cols:
    if col in df_train_merged.columns:
        df_train_merged[col] = df_train_merged[col].fillna(0)
    if col in df_test_merged.columns:
        df_test_merged[col] = df_test_merged[col].fillna(0)
print("Preenchimento de NaNs nas colunas MarkDown concluído.")

# 2. Tratamento de NaNs nas colunas CPI e Unemployment
# Estratégia: Preenchimento progressivo (ffill) e depois regressivo (bfill), agrupado por 'Store'.
cols_to_ffill_bfill = ['CPI', 'Unemployment']

print("\n--- Tratando NaNs em CPI e Unemployment (ffill e bfill por Loja) ---")

# Para df_train_merged
print("Tratando df_train_merged para CPI e Unemployment...")
for col in cols_to_ffill_bfill:
    if col in df_train_merged.columns:
        # Agrupa por 'Store', aplica ffill e depois bfill dentro de cada grupo
        df_train_merged[col] = df_train_merged.groupby('Store')[col].ffill()
        df_train_merged[col] = df_train_merged.groupby('Store')[col].bfill()
    else:
        print(f"Coluna {col} não encontrada em df_train_merged.")

# Para df_test_merged
print("Tratando df_test_merged para CPI e Unemployment...")
for col in cols_to_ffill_bfill:
    if col in df_test_merged.columns:
        # Agrupa por 'Store', aplica ffill e depois bfill dentro de cada grupo
        df_test_merged[col] = df_test_merged.groupby('Store')[col].ffill()
        df_test_merged[col] = df_test_merged.groupby('Store')[col].bfill()
    else:
        print(f"Coluna {col} não encontrada em df_test_merged.")
print("Preenchimento de NaNs em CPI e Unemployment concluído.")

# 3. Verificação final de NaNs
print("\n--- Verificando NaNs em df_train_merged APÓS o tratamento ---")
print(df_train_merged.isnull().sum())

print("\n--- Verificando NaNs em df_test_merged APÓS o tratamento ---")
print(df_test_merged.isnull().sum())

print("\nTratamento de valores ausentes (NaNs) concluído!")

--- Tratando NaNs nas colunas MarkDown (preenchendo com 0) ---
Preenchimento de NaNs nas colunas MarkDown concluído.

--- Tratando NaNs em CPI e Unemployment (ffill e bfill por Loja) ---
Tratando df_train_merged para CPI e Unemployment...
Tratando df_test_merged para CPI e Unemployment...
Preenchimento de NaNs em CPI e Unemployment concluído.

--- Verificando NaNs em df_train_merged APÓS o tratamento ---
Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Type            0
Size            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
dtype: int64

--- Verificando NaNs em df_test_merged APÓS o tratamento ---
Store           0
Dept            0
Date            0
IsHoliday       0
Type            0
Size            0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
dtype: int64

Tratamento de valores ausentes (NaNs) concluído!

## Transformação de Variáveis Categóricas (One-Hot Encoding)

### Alteração de colunas

In [14]:
print("--- Transformando a coluna 'Type' (One-Hot Encoding) ---")

# Aplicar em df_train_merged
df_train_merged = pd.get_dummies(df_train_merged, columns=['Type'], prefix='Type')
print("Coluna 'Type' transformada em df_train_merged.")
display(df_train_merged.head(2)) # Mostrar algumas linhas para ver as novas colunas

# Aplicar em df_test_merged
df_test_merged = pd.get_dummies(df_test_merged, columns=['Type'], prefix='Type')
print("\nColuna 'Type' transformada em df_test_merged.")
display(df_test_merged.head(2)) # Mostrar algumas linhas para ver as novas colunas

--- Transformando a coluna 'Type' (One-Hot Encoding) ---
Coluna 'Type' transformada em df_train_merged.

,Store,Dept,Date,Weekly_Sales,IsHoliday,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type_A,Type_B,Type_C
0,1,1,2010-02-05,24924.50,False,151315,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,True,False,False
1,1,1,2010-02-12,46039.49,True,151315,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,True,False,False

Coluna 'Type' transformada em df_test_merged.

,Store,Dept,Date,IsHoliday,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type_A,Type_B,Type_C
0,1,1,2012-11-02,False,151315,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,True,False,False
1,1,1,2012-11-09,False,151315,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,True,False,False

Transformação da Variável Booleana

In [15]:
print("\n--- Transformando a coluna 'IsHoliday' para int (0/1) ---")

# Aplicar em df_train_merged
df_train_merged['IsHoliday'] = df_train_merged['IsHoliday'].astype(int)
print("Coluna 'IsHoliday' transformada para int em df_train_merged.")

# Aplicar em df_test_merged
df_test_merged['IsHoliday'] = df_test_merged['IsHoliday'].astype(int)
print("Coluna 'IsHoliday' transformada para int em df_test_merged.")

display(df_train_merged[['Date', 'IsHoliday']].head(3))

--- Transformando a coluna 'IsHoliday' para int (0/1) ---
Coluna 'IsHoliday' transformada para int em df_train_merged.
Coluna 'IsHoliday' transformada para int em df_test_merged.

        Date  IsHoliday
0 2010-02-05          0
1 2010-02-12          1
2 2010-02-19          0

# Engenharia de Features

## Criação de Features Temporais

In [16]:
print("--- Criando Features Temporais ---")

def criar_features_temporais(df):
    df_copy = df.copy() # Trabalhar em uma cópia para evitar SettingWithCopyWarning
    df_copy['Year'] = df_copy['Date'].dt.year
    df_copy['Month'] = df_copy['Date'].dt.month
    df_copy['Day'] = df_copy['Date'].dt.day
    df_copy['WeekOfYear'] = df_copy['Date'].dt.isocalendar().week.astype(int) # Semana do ano (ISO)
    df_copy['DayOfWeek'] = df_copy['Date'].dt.dayofweek # Segunda=0, Domingo=6
    df_copy['DayOfYear'] = df_copy['Date'].dt.dayofyear
    # Adicionar mais features se desejar:
    # df_copy['Quarter'] = df_copy['Date'].dt.quarter
    # df_copy['IsMonthStart'] = df_copy['Date'].dt.is_month_start.astype(int)
    # df_copy['IsMonthEnd'] = df_copy['Date'].dt.is_month_end.astype(int)
    # df_copy['IsYearStart'] = df_copy['Date'].dt.is_year_start.astype(int)
    # df_copy['IsYearEnd'] = df_copy['Date'].dt.is_year_end.astype(int)
    return df_copy

# Aplicar a função aos dataframes
df_train_merged = criar_features_temporais(df_train_merged)
df_test_merged = criar_features_temporais(df_test_merged)

print("Features temporais criadas em df_train_merged e df_test_merged.")

# Verificar as novas colunas em df_train_merged
print("\nExemplo de features temporais em df_train_merged:")
display(df_train_merged[['Date', 'Year', 'Month', 'Day', 'WeekOfYear', 'DayOfWeek', 'DayOfYear']].head())

# Verificar as novas colunas em df_test_merged
print("\nExemplo de features temporais em df_test_merged:")
display(df_test_merged[['Date', 'Year', 'Month', 'Day', 'WeekOfYear', 'DayOfWeek', 'DayOfYear']].head())

--- Criando Features Temporais ---
Features temporais criadas em df_train_merged e df_test_merged.

Exemplo de features temporais em df_train_merged:

        Date  Year  Month  Day  WeekOfYear  DayOfWeek  DayOfYear
0 2010-02-05  2010      2    5           5          4         36
1 2010-02-12  2010      2   12           6          4         43
2 2010-02-19  2010      2   19           7          4         50
3 2010-02-26  2010      2   26           8          4         57
4 2010-03-05  2010      3    5           9          4         64

Exemplo de features temporais em df_test_merged:

        Date  Year  Month  Day  WeekOfYear  DayOfWeek  DayOfYear
0 2012-11-02  2012     11    2          44          4        307
1 2012-11-09  2012     11    9          45          4        314
2 2012-11-16  2012     11   16          46          4        321
3 2012-11-23  2012     11   23          47          4        328
4 2012-11-30  2012     11   30          48          4        335

## Criação de Features de Lag (Defasagem)

In [17]:
print("--- Criando Features de Lag (com ajuste para FutureWarning) ---")

# 1. Preparar dataframes temporários para a criação de lags
# Selecionar colunas chave e a variável alvo (Weekly_Sales apenas do treino)
df_train_temp_for_lag = df_train_merged[['Store', 'Dept', 'Date', 'Weekly_Sales']].copy()
df_test_temp_for_lag = df_test_merged[['Store', 'Dept', 'Date']].copy()

# Adicionar coluna Weekly_Sales com np.nan para o teste (para consistência de tipo float)
df_test_temp_for_lag['Weekly_Sales'] = np.nan #

# Adicionar um identificador para separar depois
df_train_temp_for_lag['is_train'] = 1
df_test_temp_for_lag['is_train'] = 0

# 2. Concatenar os dataframes temporários
# Este é o ponto onde o FutureWarning ocorria. O ajuste acima com np.nan deve ajudar.
df_combined = pd.concat([df_train_temp_for_lag, df_test_temp_for_lag], ignore_index=True)

# 3. Ordenar corretamente ANTES de aplicar o shift dentro dos grupos
df_combined.sort_values(by=['Store', 'Dept', 'Date'], inplace=True)

# 4. Definir os lags que queremos criar
lags_to_create = [1, 2, 3, 4, 12, 26, 52] # Ex: 1 semana, 2 sem, ..., 1 ano

for lag in lags_to_create:
    # O groupby garante que o shift é feito dentro de cada série individual de Loja/Departamento
    df_combined[f'Weekly_Sales_lag_{lag}'] = df_combined.groupby(['Store', 'Dept'])['Weekly_Sales'].shift(lag)

print(f"Features de lag {lags_to_create} criadas no dataframe combinado.")

# 5. Separar de volta em treino e teste
df_train_with_lags = df_combined[df_combined['is_train'] == 1].copy()
df_test_with_lags = df_combined[df_combined['is_train'] == 0].copy()

# Remover colunas auxiliares
df_train_with_lags.drop(columns=['is_train'], inplace=True)
# Para o teste, remover também a coluna 'Weekly_Sales' que foi preenchida com np.nan
df_test_with_lags.drop(columns=['is_train', 'Weekly_Sales'], inplace=True)

# 6. Juntar as novas colunas de lag de volta aos dataframes originais
# Merge para df_train_merged (usando as colunas originais para garantir a junção correta)
df_train_merged = pd.merge(
    df_train_merged,
    df_train_with_lags, # Contém Store, Dept, Date, Weekly_Sales (original) e os lags
    on=['Store', 'Dept', 'Date', 'Weekly_Sales'], # Chaves para garantir correspondência exata
    how='left'
)

# Merge para df_test_merged
# No df_test_with_lags, não temos Weekly_Sales (foi removida após ser usada para criar o df_combined),
# então o merge será apenas por Store, Dept, Date
df_test_merged = pd.merge(
    df_test_merged,
    df_test_with_lags, # Contém Store, Dept, Date e os lags
    on=['Store', 'Dept', 'Date'], # Chaves para o teste
    how='left'
)

print("Features de lag adicionadas a df_train_merged e df_test_merged.")

# 7. Verificar as novas colunas e os NaNs introduzidos pelos lags (opcional, mas recomendado)
print("\nExemplo de features de lag em df_train_merged (Loja 1, Dept 1):")
cols_to_show_train = ['Date', 'Weekly_Sales'] + [col for col in df_train_merged.columns if 'Weekly_Sales_lag' in col]
# Filtrando para uma loja/departamento específico para facilitar a visualização dos lags
display(df_train_merged[(df_train_merged['Store']==1) & (df_train_merged['Dept']==1)][cols_to_show_train].head(10))


print("\nExemplo de features de lag em df_test_merged (Loja 1, Dept 1):")
cols_to_show_test = ['Date'] + [col for col in df_test_merged.columns if 'Weekly_Sales_lag' in col]
display(df_test_merged[(df_test_merged['Store']==1) & (df_test_merged['Dept']==1)][cols_to_show_test].head(10))


print("\nVerificando NaNs introduzidos pelos lags em df_train_merged:")
print(df_train_merged[[col for col in df_train_merged.columns if 'Weekly_Sales_lag' in col]].isnull().sum().sort_values(ascending=False))

print("\nVerificando NaNs introduzidos pelos lags em df_test_merged:")
print(df_test_merged[[col for col in df_test_merged.columns if 'Weekly_Sales_lag' in col]].isnull().sum().sort_values(ascending=False))

print("\nCriação de features de lag concluída!")

--- Criando Features de Lag (com ajuste para FutureWarning) ---
Features de lag [1, 2, 3, 4, 12, 26, 52] criadas no dataframe combinado.
Features de lag adicionadas a df_train_merged e df_test_merged.

Exemplo de features de lag em df_train_merged (Loja 1, Dept 1):

,Date,Weekly_Sales,Weekly_Sales_lag_1,Weekly_Sales_lag_2,Weekly_Sales_lag_3,Weekly_Sales_lag_4,Weekly_Sales_lag_12,Weekly_Sales_lag_26,Weekly_Sales_lag_52
0,2010-02-05,24924.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-02-12,46039.49,24924.50,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-02-19,41595.55,46039.49,24924.50,NaN,NaN,NaN,NaN,NaN
3,2010-02-26,19403.54,41595.55,46039.49,24924.50,NaN,NaN,NaN,NaN
4,2010-03-05,21827.90,19403.54,41595.55,46039.49,24924.50,NaN,NaN,NaN
5,2010-03-12,21043.39,21827.90,19403.54,41595.55,46039.49,NaN,NaN,NaN
6,2010-03-19,22136.64,21043.39,21827.90,19403.54,41595.55,NaN,NaN,NaN
7,2010-03-26,26229.21,22136.64,21043.39,21827.90,19403.54,NaN,NaN,NaN
8,2010-04-02,57258.43,26229.21,22136.64,21043.39,21827.90,NaN,NaN,NaN
9,2010-04-09,42960.91,57258.43,26229.21,22136.64,21043.39,NaN,NaN,NaN

Exemplo de features de lag em df_test_merged (Loja 1, Dept 1):

,Date,Weekly_Sales_lag_1,Weekly_Sales_lag_2,Weekly_Sales_lag_3,Weekly_Sales_lag_4,Weekly_Sales_lag_12,Weekly_Sales_lag_26,Weekly_Sales_lag_52
0,2012-11-02,27390.81,24185.27,22764.01,21904.47,16119.92,17147.44,39886.06
1,2012-11-09,NaN,27390.81,24185.27,22764.01,17330.70,18164.20,18689.54
2,2012-11-16,NaN,NaN,27390.81,24185.27,16286.40,18517.79,19050.66
3,2012-11-23,NaN,NaN,NaN,27390.81,16680.24,16963.55,20911.25
4,2012-11-30,NaN,NaN,NaN,NaN,18322.37,16065.49,25293.49
5,2012-12-07,NaN,NaN,NaN,NaN,19616.22,17666.00,33305.92
6,2012-12-14,NaN,NaN,NaN,NaN,19251.50,17558.82,45773.03
7,2012-12-21,NaN,NaN,NaN,NaN,18947.81,16633.41,46788.75
8,2012-12-28,NaN,NaN,NaN,NaN,21904.47,15722.82,23350.88
9,2013-01-04,NaN,NaN,NaN,NaN,22764.01,17823.37,16567.69

Verificando NaNs introduzidos pelos lags em df_train_merged:
Weekly_Sales_lag_52    160487
Weekly_Sales_lag_26     81918
Weekly_Sales_lag_12     38615
Weekly_Sales_lag_4      13134
Weekly_Sales_lag_3       9889
Weekly_Sales_lag_2       6625
Weekly_Sales_lag_1       3331
dtype: int64

Verificando NaNs introduzidos pelos lags em df_test_merged:
Weekly_Sales_lag_1     111906
Weekly_Sales_lag_2     108793
Weekly_Sales_lag_3     105706
Weekly_Sales_lag_4     102641
Weekly_Sales_lag_12     78564
Weekly_Sales_lag_26     37468
Weekly_Sales_lag_52      1346
dtype: int64

Criação de features de lag concluída!

## Criação de Features de Janela Móvel (Rolling Window) - V1

In [18]:
# print("--- Criando Features de Janela Móvel ---")

# # Definir as janelas e estatísticas que queremos
# window_sizes = [4, 8, 12, 26, 52] # Ex: 4 semanas, 8 semanas, etc.
# stats_to_calculate = ['mean', 'median', 'sum', 'std'] # Estatísticas a serem calculadas

# for window in window_sizes:
#     for stat in stats_to_calculate:
#         new_col_name = f'Weekly_Sales_roll_{stat}_{window}'
#         # Usamos transform para aplicar a função rolling.statistic.shift por grupo
#         # A lambda s: s.rolling(...) opera em cada série do grupo
#         # O .shift(1) garante que estamos usando apenas dados passados
#         df_combined[new_col_name] = df_combined.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(
#             lambda s: s.rolling(window=window, min_periods=1).agg(stat).shift(1)
#         )
#         print(f"Criada feature: {new_col_name}")

# print("Criação de features de janela móvel no df_combined concluída.")

# # 2. Preparar colunas de features de janela móvel para merge
# # Selecionar apenas as colunas chave e as novas features de janela móvel
# cols_to_merge_rolling = ['Store', 'Dept', 'Date'] + [col for col in df_combined.columns if 'Weekly_Sales_roll_' in col]
# df_rolling_features = df_combined[cols_to_merge_rolling].copy()

# # 3. Juntar as novas features de janela móvel aos dataframes originais
# df_train_merged = pd.merge(df_train_merged, df_rolling_features, on=['Store', 'Dept', 'Date'], how='left')
# df_test_merged = pd.merge(df_test_merged, df_rolling_features, on=['Store', 'Dept', 'Date'], how='left')

# print("Features de janela móvel adicionadas a df_train_merged e df_test_merged.")

# # 4. Verificar as novas colunas e os NaNs introduzidos
# print("\nExemplo de features de janela móvel em df_train_merged (Loja 1, Dept 1):")
# cols_to_show_train_roll = ['Date', 'Weekly_Sales'] + [col for col in df_train_merged.columns if 'Weekly_Sales_roll_' in col]
# # Filtrando para uma loja/departamento específico
# display(df_train_merged[(df_train_merged['Store']==1) & (df_train_merged['Dept']==1)][cols_to_show_train_roll].head(10))

# print("\nVerificando NaNs introduzidos pelas features de janela móvel em df_train_merged:")
# print(df_train_merged[[col for col in df_train_merged.columns if 'Weekly_Sales_roll_' in col]].isnull().sum().sort_values(ascending=False))

# print("\nVerificando NaNs introduzidos pelas features de janela móvel em df_test_merged:")
# print(df_test_merged[[col for col in df_test_merged.columns if 'Weekly_Sales_roll_' in col]].isnull().sum().sort_values(ascending=False))

# print("\nCriação de features de janela móvel concluída!")

## Criação de Features de Janela Móvel (Rolling Window) - V2

In [19]:
# Converter a coluna 'Date' para datetime, se ainda não estiver
df_train['Date'] = pd.to_datetime(df_train['Date'])
df_test['Date'] = pd.to_datetime(df_test['Date'])

# Definir a data de corte para a divisão treino/validação
train_end_date = '2012-07-31'
val_start_date = '2012-08-01'

# Dividir df_train em treino e validação com base na data
df_train_subset = df_train[df_train['Date'] <= train_end_date].copy()
df_val_subset = df_train[(df_train['Date'] >= val_start_date) & (df_train['Date'] <= '2012-10-26')].copy()

print(f"Treino: {df_train_subset['Date'].min()} a {df_train_subset['Date'].max()} ({len(df_train_subset)} linhas)")
print(f"Validação: {df_val_subset['Date'].min()} a {df_val_subset['Date'].max()} ({len(df_val_subset)} linhas)")
print(f"Teste: {df_test['Date'].min()} a {df_test['Date'].max()} ({len(df_test)} linhas)")

# --- Criando Features de Janela Móvel ---
window_sizes = [4, 8, 12, 26, 52]
stats_to_calculate = ['mean', 'median', 'sum', 'std']

# 1. Calcular features para o conjunto de treino
df_train_subset = df_train_subset.sort_values(['Store', 'Dept', 'Date'])
for window in window_sizes:
    for stat in stats_to_calculate:
        new_col_name = f'Weekly_Sales_roll_{stat}_{window}'
        df_train_subset[new_col_name] = df_train_subset.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(
            lambda s: s.rolling(window=window, min_periods=1).agg(stat).shift(1)
        )
        print(f"Criada feature no treino: {new_col_name}")

# 2. Calcular features para o conjunto de validação
df_val_subset = df_val_subset.sort_values(['Store', 'Dept', 'Date'])
for window in window_sizes:
    for stat in stats_to_calculate:
        new_col_name = f'Weekly_Sales_roll_{stat}_{window}'
        # Concatenar dados de treino com validação para garantir continuidade temporal
        df_temp = pd.concat([
            df_train_subset[['Store', 'Dept', 'Date', 'Weekly_Sales']],
            df_val_subset[['Store', 'Dept', 'Date']].assign(Weekly_Sales=np.nan)
        ])
        df_temp = df_temp.sort_values(['Store', 'Dept', 'Date'])
        df_temp[new_col_name] = df_temp.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(
            lambda s: s.rolling(window=window, min_periods=1).agg(stat).shift(1)
        )
        # Atribuir as features ao conjunto de validação
        df_val_subset[new_col_name] = df_temp[df_temp['Date'] >= val_start_date][new_col_name].values
        print(f"Criada feature na validação: {new_col_name}")

# 3. Calcular features para o conjunto de teste
df_test = df_test.sort_values(['Store', 'Dept', 'Date'])
for window in window_sizes:
    for stat in stats_to_calculate:
        new_col_name = f'Weekly_Sales_roll_{stat}_{window}'
        # Concatenar dados de treino com teste para garantir continuidade temporal
        df_temp = pd.concat([
            df_train[['Store', 'Dept', 'Date', 'Weekly_Sales']],
            df_test[['Store', 'Dept', 'Date']].assign(Weekly_Sales=np.nan)
        ])
        df_temp = df_temp.sort_values(['Store', 'Dept', 'Date'])
        df_temp[new_col_name] = df_temp.groupby(['Store', 'Dept'])['Weekly_Sales'].transform(
            lambda s: s.rolling(window=window, min_periods=1).agg(stat).shift(1)
        )
        # Atribuir as features ao conjunto de teste
        df_test[new_col_name] = df_temp[df_temp['Date'] >= '2012-11-02'][new_col_name].values
        print(f"Criada feature no teste: {new_col_name}")

# 4. Verificar e tratar NaNs
print("\nVerificando NaNs no df_train_subset:")
print(df_train_subset[[col for col in df_train_subset.columns if 'Weekly_Sales_roll_' in col]].isnull().sum())
print("\nVerificando NaNs no df_val_subset:")
print(df_val_subset[[col for col in df_val_subset.columns if 'Weekly_Sales_roll_' in col]].isnull().sum())
print("\nVerificando NaNs no df_test:")
print(df_test[[col for col in df_test.columns if 'Weekly_Sales_roll_' in col]].isnull().sum())

# Tratar NaNs (preencher com a média por grupo)
for col in [col for col in df_train_subset.columns if 'Weekly_Sales_roll_' in col]:
    df_train_subset[col] = df_train_subset.groupby(['Store', 'Dept'])[col].transform(lambda x: x.fillna(x.mean()))
    df_val_subset[col] = df_val_subset.groupby(['Store', 'Dept'])[col].transform(lambda x: x.fillna(x.mean()))
    df_test[col] = df_test.groupby(['Store', 'Dept'])[col].transform(lambda x: x.fillna(x.mean()))

print("\nCriação de features de janela móvel concluída!")

Treino: 2010-02-05 00:00:00 a 2012-07-27 00:00:00 (383040 linhas)
Validação: 2012-08-03 00:00:00 a 2012-10-26 00:00:00 (38530 linhas)
Teste: 2012-11-02 00:00:00 a 2013-07-26 00:00:00 (115064 linhas)
Criada feature no treino: Weekly_Sales_roll_mean_4
Criada feature no treino: Weekly_Sales_roll_median_4
Criada feature no treino: Weekly_Sales_roll_sum_4
Criada feature no treino: Weekly_Sales_roll_std_4
Criada feature no treino: Weekly_Sales_roll_mean_8
Criada feature no treino: Weekly_Sales_roll_median_8
Criada feature no treino: Weekly_Sales_roll_sum_8
Criada feature no treino: Weekly_Sales_roll_std_8
Criada feature no treino: Weekly_Sales_roll_mean_12
Criada feature no treino: Weekly_Sales_roll_median_12
Criada feature no treino: Weekly_Sales_roll_sum_12
Criada feature no treino: Weekly_Sales_roll_std_12
Criada feature no treino: Weekly_Sales_roll_mean_26
Criada feature no treino: Weekly_Sales_roll_median_26
Criada feature no treino: Weekly_Sales_roll_sum_26
Criada feature no treino: Weekly_Sales_roll_std_26
Criada feature no treino: Weekly_Sales_roll_mean_52
Criada feature no treino: Weekly_Sales_roll_median_52
Criada feature no treino: Weekly_Sales_roll_sum_52
Criada feature no treino: Weekly_Sales_roll_std_52
Criada feature na validação: Weekly_Sales_roll_mean_4
Criada feature na validação: Weekly_Sales_roll_median_4
Criada feature na validação: Weekly_Sales_roll_sum_4
Criada feature na validação: Weekly_Sales_roll_std_4
Criada feature na validação: Weekly_Sales_roll_mean_8
Criada feature na validação: Weekly_Sales_roll_median_8
Criada feature na validação: Weekly_Sales_roll_sum_8
Criada feature na validação: Weekly_Sales_roll_std_8
Criada feature na validação: Weekly_Sales_roll_mean_12
Criada feature na validação: Weekly_Sales_roll_median_12
Criada feature na validação: Weekly_Sales_roll_sum_12
Criada feature na validação: Weekly_Sales_roll_std_12
Criada feature na validação: Weekly_Sales_roll_mean_26
Criada feature na validação: Weekly_Sales_roll_median_26
Criada feature na validação: Weekly_Sales_roll_sum_26
Criada feature na validação: Weekly_Sales_roll_std_26
Criada feature na validação: Weekly_Sales_roll_mean_52
Criada feature na validação: Weekly_Sales_roll_median_52
Criada feature na validação: Weekly_Sales_roll_sum_52
Criada feature na validação: Weekly_Sales_roll_std_52
Criada feature no teste: Weekly_Sales_roll_mean_4
Criada feature no teste: Weekly_Sales_roll_median_4
Criada feature no teste: Weekly_Sales_roll_sum_4
Criada feature no teste: Weekly_Sales_roll_std_4
Criada feature no teste: Weekly_Sales_roll_mean_8
Criada feature no teste: Weekly_Sales_roll_median_8
Criada feature no teste: Weekly_Sales_roll_sum_8
Criada feature no teste: Weekly_Sales_roll_std_8
Criada feature no teste: Weekly_Sales_roll_mean_12
Criada feature no teste: Weekly_Sales_roll_median_12
Criada feature no teste: Weekly_Sales_roll_sum_12
Criada feature no teste: Weekly_Sales_roll_std_12
Criada feature no teste: Weekly_Sales_roll_mean_26
Criada feature no teste: Weekly_Sales_roll_median_26
Criada feature no teste: Weekly_Sales_roll_sum_26
Criada feature no teste: Weekly_Sales_roll_std_26
Criada feature no teste: Weekly_Sales_roll_mean_52
Criada feature no teste: Weekly_Sales_roll_median_52
Criada feature no teste: Weekly_Sales_roll_sum_52
Criada feature no teste: Weekly_Sales_roll_std_52

Verificando NaNs no df_train_subset:
Weekly_Sales_roll_mean_4       3322
Weekly_Sales_roll_median_4     3322
Weekly_Sales_roll_sum_4        3322
Weekly_Sales_roll_std_4        6609
Weekly_Sales_roll_mean_8       3322
Weekly_Sales_roll_median_8     3322
Weekly_Sales_roll_sum_8        3322
Weekly_Sales_roll_std_8        6609
Weekly_Sales_roll_mean_12      3322
Weekly_Sales_roll_median_12    3322
Weekly_Sales_roll_sum_12       3322
Weekly_Sales_roll_std_12       6609
Weekly_Sales_roll_mean_26      3322
Weekly_Sales_roll_median_26    3322
Weekly_Sales_roll_sum_26       3322
Weekly_Sales_roll_std_26       6609
Weekly_Sales_roll_mean_52      3322
Weekly_Sales_roll_median_52    3322
Weekly_Sales_roll_sum_52       3322
Weekly_Sales_roll_std_52       6609
dtype: int64

Verificando NaNs no df_val_subset:
Weekly_Sales_roll_mean_4       26353
Weekly_Sales_roll_median_4     26353
Weekly_Sales_roll_sum_4        26353
Weekly_Sales_roll_std_4        29366
Weekly_Sales_roll_mean_8       14414
Weekly_Sales_roll_median_8     14414
Weekly_Sales_roll_sum_8        14414
Weekly_Sales_roll_std_8        17378
Weekly_Sales_roll_mean_12       2836
Weekly_Sales_roll_median_12     2836
Weekly_Sales_roll_sum_12        2836
Weekly_Sales_roll_std_12        5687
Weekly_Sales_roll_mean_26         22
Weekly_Sales_roll_median_26       22
Weekly_Sales_roll_sum_26          22
Weekly_Sales_roll_std_26          25
Weekly_Sales_roll_mean_52         22
Weekly_Sales_roll_median_52       22
Weekly_Sales_roll_sum_52          22
Weekly_Sales_roll_std_52          25
dtype: int64

Verificando NaNs no df_test:
Weekly_Sales_roll_mean_4       102595
Weekly_Sales_roll_median_4     102595
Weekly_Sales_roll_sum_4        102595
Weekly_Sales_roll_std_4        105706
Weekly_Sales_roll_mean_8        90422
Weekly_Sales_roll_median_8      90422
Weekly_Sales_roll_sum_8         90422
Weekly_Sales_roll_std_8         93492
Weekly_Sales_roll_mean_12       78388
Weekly_Sales_roll_median_12     78388
Weekly_Sales_roll_sum_12        78388
Weekly_Sales_roll_std_12        81430
Weekly_Sales_roll_mean_26       36928
Weekly_Sales_roll_median_26     36928
Weekly_Sales_roll_sum_26        36928
Weekly_Sales_roll_std_26        39893
Weekly_Sales_roll_mean_52          36
Weekly_Sales_roll_median_52        36
Weekly_Sales_roll_sum_52           36
Weekly_Sales_roll_std_52           78
dtype: int64

Criação de features de janela móvel concluída!

## Tratamento Final de NaNs nas Features Criadas

In [35]:
# Importações necessárias
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# --- Tratando NaNs Finais nas Features de Janela Móvel e Lag (usando médias do treino para evitar leakage) ---
print("--- Tratando NaNs Finais nas Features de Janela Móvel e Lag (usando médias do treino para evitar leakage) ---")

# Identificar as colunas de janela móvel e lag
cols_roll = [col for col in df_train_subset.columns if 'Weekly_Sales_roll_' in col]
cols_lag = [col for col in df_train_subset.columns if 'Weekly_Sales_lag_' in col]

# Passo 1: Calcular as médias por grupo apenas no conjunto de treino
print("\nCalculando médias por grupo no conjunto de treino...")
group_means = {}
for col in cols_roll + cols_lag:
    means = df_train_subset.groupby(['Store', 'Dept'])[col].mean()
    group_means[col] = means

# Passo 2: Preencher NaNs em df_train_subset usando as médias do próprio conjunto
print("\nTratando NaNs em df_train_subset...")
for col in cols_roll + cols_lag:
    df_train_subset[f'{col}_filled'] = df_train_subset.groupby(['Store', 'Dept'])[col].transform(lambda x: x.fillna(x.mean()))
    df_train_subset[col] = df_train_subset[f'{col}_filled'].fillna(0)
    df_train_subset = df_train_subset.drop(columns=[f'{col}_filled'])

# Passo 3: Preencher NaNs em df_val_subset usando as médias do conjunto de treino
print("\nTratando NaNs em df_val_subset...")
for col in cols_roll + cols_lag:
    df_val_subset[f'{col}_mean'] = df_val_subset.set_index(['Store', 'Dept']).index.map(group_means[col])
    df_val_subset[col] = df_val_subset[col].fillna(df_val_subset[f'{col}_mean'])
    df_val_subset[col] = df_val_subset[col].fillna(0)
    df_val_subset = df_val_subset.drop(columns=[f'{col}_mean'])

# Passo 4: Preencher NaNs em df_test usando as médias do conjunto de treino
print("\nTratando NaNs em df_test...")
for col in cols_roll + cols_lag:
    df_test[f'{col}_mean'] = df_test.set_index(['Store', 'Dept']).index.map(group_means[col])
    df_test[col] = df_test[col].fillna(df_test[f'{col}_mean'])
    df_test[col] = df_test[col].fillna(0)
    df_test = df_test.drop(columns=[f'{col}_mean'])

# Verificação final de NaNs
print("\n--- Verificando NaNs em df_train_subset APÓS o tratamento final ---")
print("Features de Janela Móvel:")
print(df_train_subset[cols_roll].isnull().sum())
print("\nFeatures de Lag:")
print(df_train_subset[cols_lag].isnull().sum())

print("\n--- Verificando NaNs em df_val_subset APÓS o tratamento final ---")
print("Features de Janela Móvel:")
print(df_val_subset[cols_roll].isnull().sum())
print("\nFeatures de Lag:")
print(df_val_subset[cols_lag].isnull().sum())

print("\n--- Verificando NaNs em df_test APÓS o tratamento final ---")
print("Features de Janela Móvel:")
print(df_test[cols_roll].isnull().sum())
print("\nFeatures de Lag:")
print(df_test[cols_lag].isnull().sum())

print("\nTratamento final de NaNs nas features de janela móvel e lag concluído (sem risco de leakage)!")

# --- Preparação dos Dados para Treinamento ---
print("\n--- Preparando Dados para Treinamento ---")

# Definir as features (excluindo Store, Dept, Weekly_Sales e colunas do tipo Timestamp)
features = [col for col in df_train_subset.columns 
            if col not in ['Store', 'Dept', 'Weekly_Sales'] 
            and not np.issubdtype(df_train_subset[col].dtype, np.datetime64)]

X_treino = df_train_subset[features]
y_treino = df_train_subset['Weekly_Sales']
X_validacao = df_val_subset[features]
y_validacao = df_val_subset['Weekly_Sales']

# Diagnóstico de Dados Antes do Treinamento
print("\n--- Diagnóstico de Dados Antes do Treinamento ---")
print("\nTipos de dados em X_treino:")
print(X_treino.dtypes)
print("\nVerificando NaN em X_treino:")
print(X_treino.isnull().sum())
print("\nVerificando NaN em y_treino:")
print(y_treino.isnull().sum())
print("\nVerificando NaN em X_validacao:")
print(X_validacao.isnull().sum())
print("\nVerificando NaN em y_validacao:")
print(y_validacao.isnull().sum())
print("\nVerificando valores infinitos em X_treino:")
print(np.isinf(X_treino).sum())
print("\nVerificando valores infinitos em y_treino:")
print(np.isinf(y_treino).sum())
print("\nVerificando valores infinitos em X_validacao:")
print(np.isinf(X_validacao).sum())
print("\nVerificando valores infinitos em y_validacao:")
print(np.isinf(y_validacao).sum())
print("\nDiagnóstico concluído.")

# --- Iniciando Treinamento e Avaliação de Modelos ---
print("\n--- Iniciando Treinamento e Avaliação de Modelos ---")

# Dicionário para armazenar os resultados dos modelos
resultados_modelos = {}

# --- Modelo 1: Regressão Linear (Baseline) ---
print("\nTreinando Modelo: Regressão Linear...")
lr_model = LinearRegression()
lr_model.fit(X_treino, y_treino)

# Previsões no conjunto de validação
y_pred_lr = lr_model.predict(X_validacao)

# Avaliação
mae_lr = mean_absolute_error(y_validacao, y_pred_lr)
rmse_lr = np.sqrt(mean_squared_error(y_validacao, y_pred_lr))
r2_lr = r2_score(y_validacao, y_pred_lr)
print(f"Regressão Linear - MAE: {mae_lr:.2f}, RMSE: {rmse_lr:.2f}, R²: {r2_lr:.4f}")
resultados_modelos['Regressão Linear'] = {'MAE': mae_lr, 'RMSE': rmse_lr, 'R2': r2_lr}

# --- Modelo 2: Árvore de Decisão Regressora ---
print("\nTreinando Modelo: Árvore de Decisão Regressora...")
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_treino, y_treino)

# Previsões
y_pred_dt = dt_model.predict(X_validacao)

# Avaliação
mae_dt = mean_absolute_error(y_validacao, y_pred_dt)
rmse_dt = np.sqrt(mean_squared_error(y_validacao, y_pred_dt))
r2_dt = r2_score(y_validacao, y_pred_dt)
print(f"Árvore de Decisão - MAE: {mae_dt:.2f}, RMSE: {rmse_dt:.2f}, R²: {r2_dt:.4f}")
resultados_modelos['Árvore de Decisão'] = {'MAE': mae_dt, 'RMSE': rmse_dt, 'R2': r2_dt}

# --- Modelo 3: Random Forest Regressor ---
print("\nTreinando Modelo: Random Forest Regressor...")
rf_model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1, max_depth=20, min_samples_split=5, min_samples_leaf=5)
rf_model.fit(X_treino, y_treino)

# Previsões
y_pred_rf = rf_model.predict(X_validacao)

# Avaliação
mae_rf = mean_absolute_error(y_validacao, y_pred_rf)
rmse_rf = np.sqrt(mean_squared_error(y_validacao, y_pred_rf))
r2_rf = r2_score(y_validacao, y_pred_rf)
print(f"Random Forest - MAE: {mae_rf:.2f}, RMSE: {rmse_rf:.2f}, R²: {r2_rf:.4f}")
resultados_modelos['Random Forest'] = {'MAE': mae_rf, 'RMSE': rmse_rf, 'R2': r2_rf}

# --- Modelo 4: Gradient Boosting Regressor ---
print("\nTreinando Modelo: Gradient Boosting Regressor...")
gb_model = GradientBoostingRegressor(n_estimators=100, random_state=42)
gb_model.fit(X_treino, y_treino)

# Previsões
y_pred_gb = gb_model.predict(X_validacao)

# Avaliação
mae_gb = mean_absolute_error(y_validacao, y_pred_gb)
rmse_gb = np.sqrt(mean_squared_error(y_validacao, y_pred_gb))
r2_gb = r2_score(y_validacao, y_pred_gb)
print(f"Gradient Boosting - MAE: {mae_gb:.2f}, RMSE: {rmse_gb:.2f}, R²: {r2_gb:.4f}")
resultados_modelos['Gradient Boosting'] = {'MAE': mae_gb, 'RMSE': rmse_gb, 'R2': r2_gb}

# --- Resultados Consolidados ---
print("\n--- Resultados Consolidados da Avaliação (no conjunto de validação) ---")
df_resultados = pd.DataFrame(resultados_modelos).T
print(df_resultados.sort_values(by='RMSE'))

--- Tratando NaNs Finais nas Features de Janela Móvel e Lag (usando médias do treino para evitar leakage) ---

Calculando médias por grupo no conjunto de treino...

Tratando NaNs em df_train_subset...

Tratando NaNs em df_val_subset...

Tratando NaNs em df_test...

--- Verificando NaNs em df_train_subset APÓS o tratamento final ---
Features de Janela Móvel:
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Features de Lag:
Series([], dtype: float64)

--- Verificando NaNs em df_val_subset APÓS o tratamento final ---
Features de Janela Móvel:
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Features de Lag:
Series([], dtype: float64)

--- Verificando NaNs em df_test APÓS o tratamento final ---
Features de Janela Móvel:
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Features de Lag:
Series([], dtype: float64)

Tratamento final de NaNs nas features de janela móvel e lag concluído (sem risco de leakage)!

--- Preparando Dados para Treinamento ---

--- Diagnóstico de Dados Antes do Treinamento ---

Tipos de dados em X_treino:
IsHoliday                         bool
Weekly_Sales_roll_mean_4       float64
Weekly_Sales_roll_median_4     float64
Weekly_Sales_roll_sum_4        float64
Weekly_Sales_roll_std_4        float64
Weekly_Sales_roll_mean_8       float64
Weekly_Sales_roll_median_8     float64
Weekly_Sales_roll_sum_8        float64
Weekly_Sales_roll_std_8        float64
Weekly_Sales_roll_mean_12      float64
Weekly_Sales_roll_median_12    float64
Weekly_Sales_roll_sum_12       float64
Weekly_Sales_roll_std_12       float64
Weekly_Sales_roll_mean_26      float64
Weekly_Sales_roll_median_26    float64
Weekly_Sales_roll_sum_26       float64
Weekly_Sales_roll_std_26       float64
Weekly_Sales_roll_mean_52      float64
Weekly_Sales_roll_median_52    float64
Weekly_Sales_roll_sum_52       float64
Weekly_Sales_roll_std_52       float64
dtype: object

Verificando NaN em X_treino:
IsHoliday                      0
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Verificando NaN em y_treino:
0

Verificando NaN em X_validacao:
IsHoliday                      0
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Verificando NaN em y_validacao:
0

Verificando valores infinitos em X_treino:
IsHoliday                      0
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Verificando valores infinitos em y_treino:
0

Verificando valores infinitos em X_validacao:
IsHoliday                      0
Weekly_Sales_roll_mean_4       0
Weekly_Sales_roll_median_4     0
Weekly_Sales_roll_sum_4        0
Weekly_Sales_roll_std_4        0
Weekly_Sales_roll_mean_8       0
Weekly_Sales_roll_median_8     0
Weekly_Sales_roll_sum_8        0
Weekly_Sales_roll_std_8        0
Weekly_Sales_roll_mean_12      0
Weekly_Sales_roll_median_12    0
Weekly_Sales_roll_sum_12       0
Weekly_Sales_roll_std_12       0
Weekly_Sales_roll_mean_26      0
Weekly_Sales_roll_median_26    0
Weekly_Sales_roll_sum_26       0
Weekly_Sales_roll_std_26       0
Weekly_Sales_roll_mean_52      0
Weekly_Sales_roll_median_52    0
Weekly_Sales_roll_sum_52       0
Weekly_Sales_roll_std_52       0
dtype: int64

Verificando valores infinitos em y_validacao:
0

Diagnóstico concluído.

--- Iniciando Treinamento e Avaliação de Modelos ---

Treinando Modelo: Regressão Linear...
Regressão Linear - MAE: 2008.99, RMSE: 4171.76, R²: 0.9639

Treinando Modelo: Árvore de Decisão Regressora...
Árvore de Decisão - MAE: 3508.04, RMSE: 7767.30, R²: 0.8747

Treinando Modelo: Random Forest Regressor...
Random Forest - MAE: 2062.52, RMSE: 4445.52, R²: 0.9590

Treinando Modelo: Gradient Boosting Regressor...

KeyboardInterrupt:

# Modelagem e Avaliação

## Divisão dos Dados em Conjuntos de Treino e Validação

In [21]:
print("--- Dividindo df_train_merged em Conjuntos de Treino e Validação ---")

# 1. Garantir que os dados estão ordenados por data
# Isso é crucial para uma divisão cronológica correta.
df_train_merged.sort_values(by=['Store', 'Dept', 'Date'], inplace=True)

# Identificar a última data no conjunto de treino original
ultima_data_treino_completo = df_train_merged['Date'].max()

# Definir o período de validação (ex: 16 semanas)
periodo_validacao_semanas = 16 # Ajuste conforme necessário (ex: 12, 20, 24 semanas)
data_corte = ultima_data_treino_completo - pd.to_timedelta(periodo_validacao_semanas * 7 - 1, unit='D')
# Subtraímos (N*7 - 1) dias para que a data de corte seja o início da primeira semana do período de validação

print(f"Última data em df_train_merged: {ultima_data_treino_completo}")
print(f"Data de corte para validação (início do conjunto de validação): {data_corte}")

# 3. Criar os dataframes de treino final e validação
df_treino_final = df_train_merged[df_train_merged['Date'] < data_corte].copy()
df_validacao = df_train_merged[df_train_merged['Date'] >= data_corte].copy()

# 4. Verificar os resultados da divisão
print(f"\nShape do df_train_merged original: {df_train_merged.shape}")
print(f"Shape do df_treino_final: {df_treino_final.shape}")
print(f"Shape do df_validacao: {df_validacao.shape}")

if not df_treino_final.empty:
    print(f"\nDatas em df_treino_final: de {df_treino_final['Date'].min()} a {df_treino_final['Date'].max()}")
else:
    print("\nATENÇÃO: df_treino_final está vazio! Verifique a data de corte e o período de validação.")

if not df_validacao.empty:
    print(f"Datas em df_validacao: de {df_validacao['Date'].min()} a {df_validacao['Date'].max()}")
else:
    print("\nATENÇÃO: df_validacao está vazio! Verifique a data de corte e o período de validação.")

# Verificar se a soma dos dois novos dataframes bate com o original
# (pode haver uma pequena diferença se houver NaNs na coluna 'Date' antes da ordenação, o que não deve ser o caso aqui)
if df_treino_final.shape[0] + df_validacao.shape[0] == df_train_merged.shape[0]:
    print("\nA soma das linhas dos conjuntos de treino final e validação corresponde ao original.")
else:
    print("\nATENÇÃO: A soma das linhas dos conjuntos de treino final e validação NÃO corresponde ao original. Verifique a lógica da divisão.")

--- Dividindo df_train_merged em Conjuntos de Treino e Validação ---
Última data em df_train_merged: 2012-10-26 00:00:00
Data de corte para validação (início do conjunto de validação): 2012-07-07 00:00:00

Shape do df_train_merged original: (421570, 31)
Shape do df_treino_final: (374203, 31)
Shape do df_validacao: (47367, 31)

Datas em df_treino_final: de 2010-02-05 00:00:00 a 2012-07-06 00:00:00
Datas em df_validacao: de 2012-07-13 00:00:00 a 2012-10-26 00:00:00

A soma das linhas dos conjuntos de treino final e validação corresponde ao original.

## Definição das Variáveis (X e y)

In [22]:
# 1. Definir a variável alvo para treino e validação
y_treino = df_treino_final['Weekly_Sales']
y_validacao = df_validacao['Weekly_Sales']

# 2. Definir as colunas de features
# Começamos com todas as colunas e depois removemos o alvo e a data original
colunas_features = [col for col in df_treino_final.columns if col not in ['Weekly_Sales', 'Date']]

X_treino = df_treino_final[colunas_features]
X_validacao = df_validacao[colunas_features]
X_teste = df_test_merged[colunas_features] # df_test_merged já não tem 'Weekly_Sales'

# 3. Verificar os shapes para garantir
print("--- Shapes das Variáveis Definidas ---")
print(f"Shape de X_treino: {X_treino.shape}")
print(f"Shape de y_treino: {y_treino.shape}")
print(f"Shape de X_validacao: {X_validacao.shape}")
print(f"Shape de y_validacao: {y_validacao.shape}")
print(f"Shape de X_teste: {X_teste.shape}")

# 4. Verificar as colunas de X_treino (para confirmar)
print("\n--- Colunas em X_treino (exemplo) ---")
print(X_treino.columns.tolist())

# 5. Verificar se X_treino, X_validacao e X_teste têm as mesmas colunas na mesma ordem
# Isso é importante para os modelos do scikit-learn
if list(X_treino.columns) == list(X_validacao.columns) == list(X_teste.columns):
    print("\nAs colunas de features estão consistentes entre os conjuntos de treino, validação e teste.")
else:
    print("\nATENÇÃO: As colunas de features NÃO estão consistentes entre os conjuntos!")

--- Shapes das Variáveis Definidas ---
Shape de X_treino: (374203, 29)
Shape de y_treino: (374203,)
Shape de X_validacao: (47367, 29)
Shape de y_validacao: (47367,)
Shape de X_teste: (115064, 29)

--- Colunas em X_treino (exemplo) ---
['Store', 'Dept', 'IsHoliday', 'Size', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Type_A', 'Type_B', 'Type_C', 'Year', 'Month', 'Day', 'WeekOfYear', 'DayOfWeek', 'DayOfYear', 'Weekly_Sales_lag_1', 'Weekly_Sales_lag_2', 'Weekly_Sales_lag_3', 'Weekly_Sales_lag_4', 'Weekly_Sales_lag_12', 'Weekly_Sales_lag_26', 'Weekly_Sales_lag_52']

As colunas de features estão consistentes entre os conjuntos de treino, validação e teste.

#  Treinamento e Avaliação de Modelos

## Modelo de regressão v1

In [33]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor # Adicionando para mais opções
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np # Para np.sqrt (para RMSE)

print("--- Iniciando Treinamento e Avaliação de Modelos ---")

# Dicionário para armazenar os resultados dos modelos
resultados_modelos = {}

# --- Modelo 1: Regressão Linear (Baseline) ---
print("\nTreinando Modelo: Regressão Linear...")
lr_model = LinearRegression()
lr_model.fit(X_treino, y_treino)

# Previsões no conjunto de validação
y_pred_lr = lr_model.predict(X_validacao)

# Avaliação
mae_lr = mean_absolute_error(y_validacao, y_pred_lr)
rmse_lr = np.sqrt(mean_squared_error(y_validacao, y_pred_lr))
r2_lr = r2_score(y_validacao, y_pred_lr)
print(f"Regressão Linear - MAE: {mae_lr:.2f}, RMSE: {rmse_lr:.2f}, R²: {r2_lr:.4f}")
resultados_modelos['Regressão Linear'] = {'MAE': mae_lr, 'RMSE': rmse_lr, 'R2': r2_lr}

# --- Modelo 2: Árvore de Decisão Regressora ---
# (Pode ser propensa a overfitting, mas é um bom comparativo)
print("\nTreinando Modelo: Árvore de Decisão Regressora...")
# Usar default parameters inicialmente, pode-se ajustar max_depth etc. depois
dt_model = DecisionTreeRegressor(random_state=42)
dt_model.fit(X_treino, y_treino)

# Previsões
y_pred_dt = dt_model.predict(X_validacao)

# Avaliação
mae_dt = mean_absolute_error(y_validacao, y_pred_dt)
rmse_dt = np.sqrt(mean_squared_error(y_validacao, y_pred_dt))
r2_dt = r2_score(y_validacao, y_pred_dt)
print(f"Árvore de Decisão - MAE: {mae_dt:.2f}, RMSE: {rmse_dt:.2f}, R²: {r2_dt:.4f}")
resultados_modelos['Árvore de Decisão'] = {'MAE': mae_dt, 'RMSE': rmse_dt, 'R2': r2_dt}


# --- Modelo 3: Random Forest Regressor ---
print("\nTreinando Modelo: Random Forest Regressor...")
# Usar default parameters inicialmente. n_estimators=100 é um bom começo.
# random_state para reprodutibilidade. n_jobs=-1 para usar todos os processadores.
rf_model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1, max_depth=20, min_samples_split=5, min_samples_leaf=5) # Adicionando alguns parâmetros para controle inicial
rf_model.fit(X_treino, y_treino)

# Previsões
y_pred_rf = rf_model.predict(X_validacao)

# Avaliação
mae_rf = mean_absolute_error(y_validacao, y_pred_rf)
rmse_rf = np.sqrt(mean_squared_error(y_validacao, y_pred_rf))
r2_rf = r2_score(y_validacao, y_pred_rf)
print(f"Random Forest - MAE: {mae_rf:.2f}, RMSE: {rmse_rf:.2f}, R²: {r2_rf:.4f}")
resultados_modelos['Random Forest'] = {'MAE': mae_rf, 'RMSE': rmse_rf, 'R2': r2_rf}

# GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingRegressor
print("\nTreinando Modelo: Gradient Boosting Regressor...")
gb_model = GradientBoostingRegressor(n_estimators=100, random_state=42)
gb_model.fit(X_treino, y_treino)
y_pred_gb = gb_model.predict(X_validacao)
mae_gb = mean_absolute_error(y_validacao, y_pred_gb)
rmse_gb = np.sqrt(mean_squared_error(y_validacao, y_pred_gb))
r2_gb = r2_score(y_validacao, y_pred_gb)
print(f"Gradient Boosting - MAE: {mae_gb:.2f}, RMSE: {rmse_gb:.2f}, R²: {r2_gb:.4f}")
resultados_modelos['Gradient Boosting'] = {'MAE': mae_gb, 'RMSE': rmse_gb, 'R2': r2_gb}

print("\n--- Resultados Consolidados da Avaliação (no conjunto de validação) ---")
df_resultados = pd.DataFrame(resultados_modelos).T # Transpor para melhor visualização
print(df_resultados.sort_values(by='RMSE')) # Ordenar pelo RMSE (menor é melhor)

--- Iniciando Treinamento e Avaliação de Modelos ---

Treinando Modelo: Regressão Linear...

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

## Modelo de regressão v2

In [32]:
print("--- Diagnóstico de Dados Antes do Treinamento ---")

# Verificar NaN em X_treino e y_treino
print("\nVerificando NaN em X_treino:")
print(X_treino.isnull().sum())

print("\nVerificando NaN em y_treino:")
print(y_treino.isnull().sum())

print("\nVerificando NaN em X_validacao:")
print(X_validacao.isnull().sum())

print("\nVerificando NaN em y_validacao:")
print(y_validacao.isnull().sum())

# Verificar valores infinitos ou muito grandes
print("\nVerificando valores infinitos em X_treino:")
print(np.isinf(X_treino).sum())

print("\nVerificando valores infinitos em y_treino:")
print(np.isinf(y_treino).sum())

print("\nVerificando valores infinitos em X_validacao:")
print(np.isinf(X_validacao).sum())

print("\nVerificando valores infinitos em y_validacao:")
print(np.isinf(y_validacao).sum())

print("\nDiagnóstico concluído.")

--- Diagnóstico de Dados Antes do Treinamento ---

Verificando NaN em X_treino:
Store                       0
Dept                        0
IsHoliday                   0
Size                        0
Temperature                 0
Fuel_Price                  0
MarkDown1                   0
MarkDown2                   0
MarkDown3                   0
MarkDown4                   0
MarkDown5                   0
CPI                         0
Unemployment                0
Type_A                      0
Type_B                      0
Type_C                      0
Year                        0
Month                       0
Day                         0
WeekOfYear                  0
DayOfWeek                   0
DayOfYear                   0
Weekly_Sales_lag_1       3318
Weekly_Sales_lag_2       6603
Weekly_Sales_lag_3       9860
Weekly_Sales_lag_4      13099
Weekly_Sales_lag_12     38494
Weekly_Sales_lag_26     81585
Weekly_Sales_lag_52    159641
dtype: int64

Verificando NaN em y_treino:
0

Verificando NaN em X_validacao:
Store                    0
Dept                     0
IsHoliday                0
Size                     0
Temperature              0
Fuel_Price               0
MarkDown1                0
MarkDown2                0
MarkDown3                0
MarkDown4                0
MarkDown5                0
CPI                      0
Unemployment             0
Type_A                   0
Type_B                   0
Type_C                   0
Year                     0
Month                    0
Day                      0
WeekOfYear               0
DayOfWeek                0
DayOfYear                0
Weekly_Sales_lag_1      13
Weekly_Sales_lag_2      22
Weekly_Sales_lag_3      29
Weekly_Sales_lag_4      35
Weekly_Sales_lag_12    121
Weekly_Sales_lag_26    333
Weekly_Sales_lag_52    846
dtype: int64

Verificando NaN em y_validacao:
0

Verificando valores infinitos em X_treino:
Store                  0
Dept                   0
IsHoliday              0
Size                   0
Temperature            0
Fuel_Price             0
MarkDown1              0
MarkDown2              0
MarkDown3              0
MarkDown4              0
MarkDown5              0
CPI                    0
Unemployment           0
Type_A                 0
Type_B                 0
Type_C                 0
Year                   0
Month                  0
Day                    0
WeekOfYear             0
DayOfWeek              0
DayOfYear              0
Weekly_Sales_lag_1     0
Weekly_Sales_lag_2     0
Weekly_Sales_lag_3     0
Weekly_Sales_lag_4     0
Weekly_Sales_lag_12    0
Weekly_Sales_lag_26    0
Weekly_Sales_lag_52    0
dtype: int64

Verificando valores infinitos em y_treino:
0

Verificando valores infinitos em X_validacao:
Store                  0
Dept                   0
IsHoliday              0
Size                   0
Temperature            0
Fuel_Price             0
MarkDown1              0
MarkDown2              0
MarkDown3              0
MarkDown4              0
MarkDown5              0
CPI                    0
Unemployment           0
Type_A                 0
Type_B                 0
Type_C                 0
Year                   0
Month                  0
Day                    0
WeekOfYear             0
DayOfWeek              0
DayOfYear              0
Weekly_Sales_lag_1     0
Weekly_Sales_lag_2     0
Weekly_Sales_lag_3     0
Weekly_Sales_lag_4     0
Weekly_Sales_lag_12    0
Weekly_Sales_lag_26    0
Weekly_Sales_lag_52    0
dtype: int64

Verificando valores infinitos em y_validacao:
0

Diagnóstico concluído.

## Análise de Importância das Features com Random Forest

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print("--- Análise de Importância das Features (Random Forest) ---")

# 1. Extrair a importância das features
importances = rf_model.feature_importances_
feature_names = X_treino.columns # Lista dos nomes das suas features

# 2. Criar um DataFrame para melhor visualização
feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})

# 3. Ordenar as features pela importância (da mais importante para a menos importante)
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

# 4. Visualizar as features mais importantes
print("\nImportância das Features (Top 15):")
display(feature_importance_df.head(15))

# Plotar a importância das features (ex: Top 15 ou 20)
plt.figure(figsize=(10, 8))
top_n_features = 20 # Número de features mais importantes a serem plotadas
sns.barplot(x='Importance', y='Feature', data=feature_importance_df.head(top_n_features), palette='viridis')
plt.title(f'Top {top_n_features} Features Mais Importantes (Random Forest)')
plt.xlabel('Importância')
plt.ylabel('Feature')
plt.tight_layout()
plt.show()

## Treinamento do Modelo Final (Random Forest) e Previsões no Conjunto de Teste

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import numpy as np

print("--- Treinamento do Modelo Final (Random Forest) e Previsões no Teste ---")

# 1. Preparar os dados para o treinamento final
# Usaremos todo o df_train_merged para treinar o modelo final.
# As 'colunas_features' devem ser as mesmas que você usou para X_treino e X_validacao.
# Se você não tem a lista 'colunas_features' disponível nesta célula, recrie-a:
if 'colunas_features' not in locals() and 'X_treino' in locals(): # 'locals()' verifica se a variável existe no escopo local
    colunas_features = X_treino.columns.tolist()
elif 'colunas_features' not in locals():
    # Recriar se X_treino também não estiver definido (ajuste se necessário)
    colunas_features = [col for col in df_train_merged.columns if col not in ['Weekly_Sales', 'Date']]
    print("Recriando 'colunas_features'.")


X_full_train = df_train_merged[colunas_features]
y_full_train = df_train_merged['Weekly_Sales']

# Garantir que X_teste tem as mesmas colunas que X_full_train
# (Isso já foi verificado anteriormente, mas é uma boa prática)
if list(X_full_train.columns) != list(X_teste.columns):
    print("ALERTA: Colunas de X_full_train e X_teste não são idênticas! Verifique.")
    # Aqui você poderia adicionar lógica para alinhar colunas, se necessário,
    # mas idealmente elas já estão alinhadas pelos passos anteriores.
    # X_teste = X_teste[X_full_train.columns] # Exemplo de alinhamento forçado

print(f"Shape de X_full_train: {X_full_train.shape}")
print(f"Shape de y_full_train: {y_full_train.shape}")
print(f"Shape de X_teste: {X_teste.shape}")

# 2. Instanciar e Treinar o modelo Random Forest final
# Use os parâmetros que você definiu e que deram bons resultados na validação
print("\nTreinando o modelo Random Forest final com todos os dados de treino...")
final_rf_model = RandomForestRegressor(
    n_estimators=100,
    random_state=42,
    n_jobs=-1,
    max_depth=20,
    min_samples_split=5,
    min_samples_leaf=5
)
final_rf_model.fit(X_full_train, y_full_train)
print("Treinamento do modelo final concluído.")

# 3. Fazer previsões no conjunto de teste
print("\nFazendo previsões no conjunto de teste...")
predicoes_finais_teste = final_rf_model.predict(X_teste)
print("Previsões no conjunto de teste concluídas.")
print(f"Número de previsões geradas: {len(predicoes_finais_teste)}")
print("Exemplo das primeiras 5 previsões:", predicoes_finais_teste[:5])

# Previsões no teste (Validação do modelo)

## Permutation Importance

In [ ]:
import pandas as pd
import numpy as np # Se não importado antes
import matplotlib.pyplot as plt
from sklearn.inspection import permutation_importance

# Verifique se as variáveis necessárias existem:
if 'rf_model' in locals() and 'X_validacao' in locals() and 'y_validacao' in locals():
    print("\n--- Calculando Importância por Permutação ---")
    
    # Calcular a importância por permutação
    # n_repeats: quantas vezes cada feature é permutada. Mais alto é mais robusto, mas mais lento.
    # random_state: para reprodutibilidade
    # n_jobs: -1 para usar todos os processadores
    perm_importance = permutation_importance(
        rf_model, X_validacao, y_validacao, n_repeats=5, random_state=42, n_jobs=-1
    )

    # Organizar os resultados em um DataFrame
    sorted_idx = perm_importance.importances_mean.argsort() # Índices ordenados

    perm_importance_df = pd.DataFrame(
        perm_importance.importances_mean[sorted_idx].T,
        index=X_validacao.columns[sorted_idx], # Nomes das features na ordem correta
        columns=['Importance_Permutation']
    ).sort_values(by='Importance_Permutation', ascending=False)

    print("\nImportância das Features por Permutação (Top 15):")
    display(perm_importance_df.head(15))

    # Plotar as features mais importantes
    plt.figure(figsize=(10, 8))
    perm_importance_df.head(20).plot(kind='barh', legend=False) # Plota as 20 mais importantes
    plt.title("Top 20 Features Mais Importantes (Importância por Permutação)")
    # A métrica de scoring padrão do regressor é usada (R² para RandomForestRegressor)
    # Então o eixo x representa a queda média no R²
    plt.xlabel("Queda Média na Performance (R²)") 
    plt.gca().invert_yaxis() # Para mostrar a feature mais importante no topo
    plt.tight_layout()
    plt.show()
else:
    print("Variáveis 'rf_model', 'X_validacao' ou 'y_validacao' não estão definidas. Pule a Permutation Importance por enquanto.")

## Partial Dependence Plots (PDP)

In [ ]:
from sklearn.inspection import PartialDependenceDisplay
import matplotlib.pyplot as plt

# Verifique se as variáveis necessárias existem:
if 'final_rf_model' in locals() and 'X_full_train' in locals():
    # Escolha algumas features para plotar o PDP (ex: as mais importantes do seu modelo)
    # Verifique se essas features realmente existem em X_full_train.columns
    features_para_pdp = ['Weekly_Sales_lag_1', 'Weekly_Sales_roll_median_4', 'Size', 'DayOfYear', 'Dept'] 
    
    # Filtrar para garantir que apenas features existentes sejam usadas
    features_para_pdp_existentes = [f for f in features_para_pdp if f in X_full_train.columns]

    if features_para_pdp_existentes:
        print("\n--- Gerando Partial Dependence Plots ---")
        
        # Determinar o número de linhas e colunas para os subplots
        n_features_pdp = len(features_para_pdp_existentes)
        n_cols_pdp = 2 # Define 2 colunas de gráficos
        n_rows_pdp = (n_features_pdp + n_cols_pdp - 1) // n_cols_pdp # Calcula linhas necessárias
        
        fig, ax = plt.subplots(n_rows_pdp, n_cols_pdp, figsize=(12, 4 * n_rows_pdp))
        ax = ax.flatten() # Transforma ax em um array 1D para fácil iteração

        # Gerar PDP para cada feature selecionada
        # kind='average' para PDP. 'individual' para ICE plots, 'both' para ambos.
        # grid_resolution: número de pontos na grade para calcular a dependência parcial.
        # n_jobs: -1 para usar todos os processadores.
        display_pdp = PartialDependenceDisplay.from_estimator(
            final_rf_model,
            X_full_train, # Usa o conjunto de treino para calcular a dependência
            features_para_pdp_existentes,
            kind='average', 
            n_jobs=-1,
            grid_resolution=20, # Reduza se estiver muito lento, aumente para mais detalhes
            ax=ax[:n_features_pdp] # Passa apenas os eixos necessários
        )
        
        # Remover eixos extras se o número de features não preencher todos os subplots
        for i in range(n_features_pdp, len(ax)):
            fig.delaxes(ax[i])
            
        plt.suptitle("Partial Dependence Plots (PDP) para Features Selecionadas", fontsize=16, y=1.03) # Ajustar y para não sobrepor
        plt.tight_layout(rect=[0, 0, 1, 0.98]) # Ajustar para o supertítulo
        plt.show()
    else:
        print("Nenhuma das features selecionadas para PDP foi encontrada em X_full_train.")
else:
    print("Variáveis 'final_rf_model' ou 'X_full_train' não estão definidas. Pule os PDPs por enquanto.")

## Avaliar Overfitting

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np
import pandas as pd

print("--- Avaliando Overfitting: Performance no Treino vs. Validação ---")

# Dicionário para armazenar os resultados de treino para comparação
resultados_treino = {}
# Você já tem 'resultados_modelos' com os dados da VALIDAÇÃO da execução anterior

# Função auxiliar para calcular e imprimir métricas
def calcular_metricas(nome_modelo, modelo, X, y_real, sufixo_dataset=""):
    y_pred = modelo.predict(X)
    mae = mean_absolute_error(y_real, y_pred)
    rmse = np.sqrt(mean_squared_error(y_real, y_pred))
    r2 = r2_score(y_real, y_pred)
    print(f"{nome_modelo} - {sufixo_dataset} - MAE: {mae:.2f}, RMSE: {rmse:.2f}, R²: {r2:.4f}")
    return {'MAE': mae, 'RMSE': rmse, 'R2': r2}

# --- Avaliação no Conjunto de Treino ---
print("\n--- Performance no Conjunto de Treino ---")
if 'lr_model' in locals():
    resultados_treino['Regressão Linear'] = calcular_metricas('Regressão Linear', lr_model, X_treino, y_treino, "Treino")
if 'dt_model' in locals():
    resultados_treino['Árvore de Decisão'] = calcular_metricas('Árvore de Decisão', dt_model, X_treino, y_treino, "Treino")
if 'rf_model' in locals():
    resultados_treino['Random Forest'] = calcular_metricas('Random Forest', rf_model, X_treino, y_treino, "Treino")
if 'gb_model' in locals():
    resultados_treino['Gradient Boosting'] = calcular_metricas('Gradient Boosting', gb_model, X_treino, y_treino, "Treino")

# --- Relembrar Performance no Conjunto de Validação (você já tem isso em 'resultados_modelos') ---
print("\n--- Performance no Conjunto de Validação (Relembrando) ---")

if 'resultados_modelos' in locals() and resultados_modelos:
    for nome, metricas_val in resultados_modelos.items():
        print(f"{nome} - Validação - MAE: {metricas_val['MAE']:.2f}, RMSE: {metricas_val['RMSE']:.2f}, R²: {metricas_val['R2']:.4f}")
else:
    print("Dicionário 'resultados_modelos' com métricas de validação não encontrado. Por favor, execute a avaliação na validação primeiro ou copie os resultados.")

# --- Comparação Direta ---
print("\n--- Comparativo Treino vs. Validação ---")
if resultados_treino and 'resultados_modelos' in locals() and resultados_modelos:
    df_comp_treino = pd.DataFrame(resultados_treino).T.add_suffix('_Treino')
    df_comp_validacao = pd.DataFrame(resultados_modelos).T.add_suffix('_Validação')
    
    df_comparativo_overfitting = pd.concat([df_comp_treino, df_comp_validacao], axis=1)
    # Reordenar para melhor visualização
    cols_r2 = [col for col in df_comparativo_overfitting.columns if 'R2' in col]
    cols_rmse = [col for col in df_comparativo_overfitting.columns if 'RMSE' in col]
    cols_mae = [col for col in df_comparativo_overfitting.columns if 'MAE' in col]
    
    df_comparativo_overfitting = df_comparativo_overfitting[cols_r2 + cols_rmse + cols_mae]
    display(df_comparativo_overfitting)
else:
    print("Não foi possível gerar o comparativo. Verifique se as métricas de treino e validação foram calculadas.")

# Gerando arquivo treinado

In [ ]:
import pandas as pd # Certifique-se de que o pandas está importado

print("--- Preparando Arquivo de Submissão ---")

# 1. Criar a coluna 'Id' no formato esperado (Store_Dept_Date)
# A coluna 'Date' em df_test_merged deve ser do tipo datetime.
# Vamos formatá-la como string 'YYYY-MM-DD' para criar o Id.
df_test_submission = df_test_merged.copy() # Trabalhar em uma cópia para não alterar o df_test_merged original
df_test_submission['Date_str'] = df_test_submission['Date'].dt.strftime('%Y-%m-%d')

df_test_submission['Id'] = df_test_submission['Store'].astype(str) + '_' + \
                           df_test_submission['Dept'].astype(str) + '_' + \
                           df_test_submission['Date_str']

# 2. Criar o DataFrame de submissão com as colunas 'Id' e 'Weekly_Sales'
# A coluna 'Weekly_Sales' aqui conterá suas previsões
df_submissao = pd.DataFrame({
    'Id': df_test_submission['Id'],
    'Weekly_Sales': predicoes_finais_teste  # Suas previsões finais do modelo
})

# 3. Arredondar as previsões para um número razoável de casas decimais, se desejar
# (Muitas competições não exigem, mas pode ser bom para consistência)
# df_submissao['Weekly_Sales'] = df_submissao['Weekly_Sales'].round(4)


# 4. Salvar o arquivo de submissão com o nome desejado
nome_arquivo_submissao = 'random_forest_predictions_walmart.csv'
df_submissao.to_csv(nome_arquivo_submissao, index=False)

print(f"\nArquivo de submissão '{nome_arquivo_submissao}' criado com sucesso.")

# 5. Exibir as primeiras linhas do arquivo de submissão para verificação
print("\nExemplo das primeiras 5 linhas do arquivo de submissão:")
display(df_submissao.head())

# (Opcional) Verificar o shape do arquivo de submissão
print(f"\nShape do arquivo de submissão: {df_submissao.shape}")
# Deve corresponder ao número de linhas no sampleSubmission.csv original (115064 linhas, 2 colunas)

## Importando arquivo

In [ ]:
import pandas as pd

# Nome do arquivo que você quer criar
nome_arquivo_submissao = 'random_forest_predictions_walmart.csv'

try:
    # Salvar o DataFrame como um arquivo CSV
    df_submissao.to_csv(nome_arquivo_submissao, index=False)
    
    print(f"Arquivo '{nome_arquivo_submissao}' salvo com sucesso no diretório do script!")
    print("Você pode encontrá-lo na mesma pasta do seu arquivo .py ou .ipynb.")
      
except Exception as e:
    print(f"Ocorreu um erro ao tentar salvar o arquivo CSV: {e}")
    print("Verifique se o DataFrame 'df_submissao' existe e está correto.")

## Incluindo coluna formadata (Vendas em dolars)

In [ ]:
# import pandas as pd

# # Criar uma nova coluna formatada para exibição
# if 'Weekly_Sales' in df_submissao.columns: # Verifica se a coluna existe
#     df_submissao['Weekly_Sales_Formatado'] = df_submissao['Weekly_Sales'].apply(lambda x: f"${x:,.2f}")

#     print("\nDataFrame de submissão com coluna formatada:")
#     display(df_submissao[['Id', 'Weekly_Sales', 'Weekly_Sales_Formatado']].head())
# else:
#     print("Coluna 'Weekly_Sales' não encontrada no df_submissao para formatação.")

# Graficos

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# --- Assumindo que df_validacao (com colunas 'Store', 'Dept', 'Date'),
# --- y_validacao (Series Pandas com os valores reais de Weekly_Sales e índice de df_validacao),
# --- e y_pred_rf (array NumPy ou Series Pandas com as previsões do Random Forest, alinhado com y_validacao)

print("--- Gerando Gráficos para Avaliação do Modelo (Random Forest na Validação) ---")

# ==============================================================================
# GRÁFICO 1: Valores Reais vs. Previstos (Geral - para todo o conjunto de validação)
# Importância para Documentação: Essencial. Mostra a correlação geral e o R².
# ==============================================================================
plt.figure(figsize=(8, 6))
plt.scatter(y_validacao, y_pred_rf, alpha=0.3, edgecolors='k', s=20) # Alpha menor para ver densidade
plt.plot([min(y_validacao.min(), y_pred_rf.min()), max(y_validacao.max(), y_pred_rf.max())], # Ajustar limites da linha y=x
         [min(y_validacao.min(), y_pred_rf.min()), max(y_validacao.max(), y_pred_rf.max())],
         'k--', lw=2, label='Previsão Perfeita (y=x)')
plt.xlabel("Valores Reais (Weekly_Sales)")
plt.ylabel("Valores Previstos (Weekly_Sales)")
plt.title("Valores Reais vs. Previstos (Random Forest - Validação Geral)")
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()
print("Este gráfico compara cada venda real no conjunto de validação com a previsão do modelo para ela.")
print("Pontos próximos à linha tracejada indicam previsões acuradas.")

# ==============================================================================
# GRÁFICO 2: Gráfico de Resíduos (Geral - para todo o conjunto de validação)
# Importância para Documentação: Essencial. Ajuda a identificar viés, heterocedasticidade.
# ==============================================================================
residuos_rf = y_validacao - y_pred_rf
plt.figure(figsize=(8, 6))
plt.scatter(y_pred_rf, residuos_rf, alpha=0.3, edgecolors='k', s=20)
plt.hlines(y=0, xmin=y_pred_rf.min(), xmax=y_pred_rf.max(), colors='red', lw=2, linestyles='--')
plt.xlabel("Valores Previstos (Weekly_Sales)")
plt.ylabel("Resíduos (Real - Previsto)")
plt.title("Gráfico de Resíduos (Random Forest - Validação Geral)")
plt.grid(True)
plt.tight_layout()
plt.show()
print("Este gráfico mostra os erros de previsão (resíduos) contra os valores previstos.")
print("Idealmente, os pontos devem se distribuir aleatoriamente em torno da linha vermelha (erro zero),")
print("sem padrões claros, o que indicaria que o modelo não tem viés sistemático.")

# ==============================================================================
# GRÁFICO 3: Série Temporal - Vendas Reais vs. Previstas para LOJA 3, DEPARTAMENTO 90
# Importância para Documentação: Muito importante. Ilustra o desempenho do modelo
# em uma série temporal específica e detalhada.
# ==============================================================================
loja_especifica = 3
depto_especifico = 90

# Criar um DataFrame temporário para facilitar a filtragem e o plot
df_validacao_plot = df_validacao[['Store', 'Dept', 'Date']].copy()
df_validacao_plot['Weekly_Sales_Real'] = y_validacao
df_validacao_plot['Weekly_Sales_Prevista_RF'] = y_pred_rf # Supondo alinhamento de índice

# Filtrar para a loja e departamento específicos
df_validacao_exemplo_especifico = df_validacao_plot[
    (df_validacao_plot['Store'] == loja_especifica) &
    (df_validacao_plot['Dept'] == depto_especifico)
].copy()

if not df_validacao_exemplo_especifico.empty:
    df_validacao_exemplo_especifico.sort_values('Date', inplace=True)

    plt.figure(figsize=(14, 7)) # Tamanho maior para melhor visualização da série temporal
    plt.plot(df_validacao_exemplo_especifico['Date'], df_validacao_exemplo_especifico['Weekly_Sales_Real'], label='Vendas Reais', marker='o', linestyle='-', linewidth=1.5)
    plt.plot(df_validacao_exemplo_especifico['Date'], df_validacao_exemplo_especifico['Weekly_Sales_Prevista_RF'], label='Vendas Previstas (RF)', marker='x', linestyle='--', linewidth=1.5)
    plt.xlabel("Data")
    plt.ylabel("Weekly_Sales")
    plt.title(f"Vendas Reais vs. Previstas para Loja {loja_especifica}, Depto {depto_especifico} (Validação)")
    plt.legend()
    plt.grid(True)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()
    print(f"Este gráfico mostra o comportamento das vendas reais e previstas ao longo do tempo para a Loja {loja_especifica}, Depto {depto_especifico}.")
    print("Permite analisar se o modelo captura tendências, sazonalidades e picos para esta combinação específica.")

else:
    print(f"ATENÇÃO: Não foram encontrados dados para Loja {loja_especifica}, Depto {depto_especifico} no conjunto de validação.")
    print("Verifique se essa combinação de loja/depto existe no seu 'df_validacao'.")
    print("Você pode listar as combinações únicas com: df_validacao[['Store', 'Dept']].drop_duplicates().sort_values(by=['Store', 'Dept'])")


# ==============================================================================
# GRÁFICO 4: Histograma dos Resíduos (Geral - para todo o conjunto de validação)
# Importância para Documentação: Importante. Mostra a distribuição dos erros.
# ==============================================================================
plt.figure(figsize=(8, 6))
sns.histplot(residuos_rf, kde=True, bins=50) # kde=True adiciona uma estimativa de densidade do kernel
plt.xlabel("Resíduos (Real - Previsto)")
plt.ylabel("Frequência")
plt.title("Histograma dos Resíduos (Random Forest - Validação Geral)")
plt.axvline(residuos_rf.mean(), color='red', linestyle='dashed', linewidth=1, label=f'Média dos Resíduos: {residuos_rf.mean():.2f}')
plt.legend()
plt.grid(True)
plt.tight_layout()
plt.show()
print("Este gráfico mostra a distribuição dos erros de previsão.")
print("Idealmente, a distribuição seria centrada em zero e aproximadamente simétrica,")
print("indicando que os erros não são sistematicamente para mais ou para menos.")

# ==============================================================================
# GRÁFICO 5 (Já gerado antes, mas essencial para a documentação): Importância das Features
# Importância para Documentação: Essencial. Explica quais fatores mais influenciam as previsões.
# ==============================================================================

if 'rf_model' in locals() and 'X_treino' in locals(): # Verifica se as variáveis existem
    importances = rf_model.feature_importances_
    feature_names = X_treino.columns
    feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': importances})
    feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

    plt.figure(figsize=(10, 8))
    top_n_features = 20
    sns.barplot(x='Importance', y='Feature', data=feature_importance_df.head(top_n_features), palette='viridis')
    plt.title(f'Top {top_n_features} Features Mais Importantes (Random Forest)')
    plt.xlabel('Importância')
    plt.ylabel('Feature')
    plt.tight_layout()
    plt.show()
    print("Este gráfico mostra quais features o modelo considerou mais importantes para fazer as previsões.")
else:
    print("\nModelo 'rf_model' ou 'X_treino' não definidos. Pule o gráfico de importância das features ou gere-o na célula apropriada.")